.secure-form-wrapper {
	margin-top: 40px;
}

.secure-form-wrapper .page-grid {
	display: grid;
	grid-template-columns: 1fr 260px;
	grid-gap: 3em;
    margin: 0 auto;
    max-width: 1260px;
}

.secure-form-wrapper .sidebar-panel {
	padding:2em;
	background:white;
	border: 1px solid #e0e0e0;
	margin-bottom:2em;
}

.secure-form-wrapper .sidebar-panel img {
	width: 100%;
}

.secure-form-wrapper .secure-form-admin textarea {
    font-family: monospace;
    width: 45em;
}

.secure-form-wrapper .secure-form-admin small {
    display: block;
	margin-top: 5px;
}

.secure-form-wrapper .alert {
    margin-top: 20px;
    padding: 1rem;
    font-weight: 500;
}

.secure-form-wrapper .alert-danger {
    color: #c53030;
    border: 1px solid #fc8181;
    background-color: #fff5f5;
}

.secure-form-wrapper .alert-success {
    color: #234e52;
    border: 1px solid #38b2ac;
    background-color: #e6fffa;
}

.secure-form-wrapper .alert-warning {
    color: #C05621;
    border: 1px solid #C05621;
    background-color: #FFFAF0;
    font-weight: normal;
}

.secure-form-wrapper .log-viewer {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	padding: 5px 20px;
	font-family: monospace;
	font-size: .8rem;
}

.secure-form-wrapper .log-viewer pre {
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#secure-form-test {
    margin-top: 20px;
}